.title {
  line-height: 1.3;
  font-weight: 100;
  margin-bottom: var(--unit-5);
}

.h1 {
  font-size: var(--font-l);
}

.h2 {
  font-size: 24px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.accent {
  color: var(--accent);
}

.error {
  color: var(--error);
}
